@media (max-width: 1200px) {
    .header, .features, .about-us, .testimonials,
    .comments, .advert-board, .pricing, .contact-us {
        .container {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    .header {
        .left-block {
            margin-bottom: 0 !important;

            .main-buttons {
                margin-top: 40px !important;
            }
        }
    }

    .pricing {
        .pricing-body {
            justify-content: space-around !important;

            .price-block {
                flex: 100% !important;
                margin-bottom: 35px !important;
            }
        }
    }

    .advert-board {
        .container {
            flex-direction: column;

            .advert-header {
                max-width: 100% !important;
                align-items: center !important;

                .title {
                    text-align: center;
                }
            }

            .advert-buttons {
                margin-top: 40px !important;
                flex: 100% !important;
                max-width: 100% !important;
                text-align: center !important;
            }
        }
    }
}

@media (max-width: 1024px) {

    .header {
        .top-section {
            .logo {
                flex: 30% !important;
                max-width: 30% !important;
            }

            .main-navigation {
                flex: 70% !important;
                max-width: 70% !important;
            }
        }
        .bottom-section {
            flex-direction: column;
            align-items: center;

            .left-block {
                margin: 0 0 20px !important;
                max-width: 100%;
                justify-content: center;

                .main-info {
                    flex: 100% !important;
                    max-width: 100% !important;
                }

                .main-buttons {
                    margin-top: 40px !important;
                }
            }

            .right-block {
                max-width: 100%;
                justify-content: center !important;
                
                img {
                    max-width: 500px;
                }
            }
        }
    }

    .features {
        .features-head {
            .title {
                text-align: center;
            }
        }
    }

    .about-us {
        padding: 0 !important;

        .container {
            flex-direction: column-reverse;
            align-items: center;

            .left-block {
                margin-top: 20px !important;
                max-width: 100%;
                text-align: center;
                img {
                    max-width: 500px;
                }
            }

            .right-block {
                max-width: 100% !important;
                padding-left: 0 !important;

                .about-desc {
                    max-width: 100%;
                }
            }
        }
    }

    .testimonials {

        .container {
            flex-direction: column;
            align-items: center;

            .left-block {
                max-width: 100% !important;
            }

            .right-block {
                max-width: 100%;
                text-align: center !important;

                img {
                    max-width: 500px;
                }
            }
        }
    }

    .pricing {
        padding-bottom: 10px !important;
    }

    .comments {
        .comments-body {
            .slide {
                text-align: center;

                .user-info {
                    justify-content: center;
                    text-align: left;
                }
            }

            .slick-dots {
                margin-top: 50px !important;
            }
        }
    }

    .contact-us {
        justify-content: center;

        .contact-form {
            width: 80% !important;
            margin: 0 auto !important;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        .bottom-section {
            flex-direction: column;
            align-items: center;

            .left-block {
                margin: 0 0 20px !important;

                .main-buttons {
                    margin-top: 40px !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .mobile-navbar-button {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        .top-section {
            display: none;
        }

        .bottom-section {
            .title {
                font-size: 4.1em !important;
            }
        }
    }

    .features {
        .features-body {
            margin-top: 40px !important;
            flex-direction: column;
            align-items: center;
            max-width: 100%;

            .feature-block {
                max-width: 100%;
            }
        }
    }

    .testimonials {
        .left-block {
            margin-top: 40px !important;
        }
    }

    .pricing {
        .pricing-body {
            margin-top: 40px !important;
        }
    }

    .contact-us {
        .container {
            padding: 0 !important;

            .contact-body {
                flex-direction: column;
                align-items: center;
    
                .contact-block {
                    max-width: 100%;
                    margin-top: 20px !important;
    
                    &:first-child {
                        margin-top: 40px !important;
                    }
    
                    .block-image {
                        margin-bottom: 5px !important;
                        text-align: center !important;
                    }
                }
            }
    
            .contact-form {
                width: 100% !important;
                margin: 0 auto !important;
                margin-top: 40px !important;
                bottom: 0 !important;
                padding: 40px 0 30px !important;
    
                form {
                    .form-top {
                        flex-direction: column;
                        align-items: center;
    
                        .form-left {
                            width: 100% !important;
    
                            .form-left-item {
                                padding-right: 0 !important;
                                max-width: 90%;
        
                                &:last-child {
                                    padding-bottom: 30px !important;
                                }
                            }
                        }
    
                        .form-right {
                            width: 90% !important;
                        }
                    }
    
                    .form-bottom {
                        justify-content: center !important;
                    }
                }
            }   
        }
    }

    .footer {
        padding: 30px !important;
    }
}

@media (max-width: 425px) {
    .header {
        .bottom-section {
            .main-buttons {
                width: 90%;
                display: flex;
                flex-direction: column;
                text-align: center;

                .view-btn {
                    margin-top: 20px !important;
                    margin-left: 0 !important;
                }
            }
        }
    }

    .advert-board {
        .advert-buttons {
            display: flex;
            flex-direction: column;

            .advert-download {
                margin-left: 0 !important;
                margin-top: 20px !important;
            }
        }
    }

    .comments {
        .comments-body {
            padding-top: 40px !important;

            .slide {
                .user-info {
                    flex-direction: column;
    
                    .user-about {
                        margin-left: 0 !important;

                        .user-name, .user-company {
                            text-align: center !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .header {
        .bottom-section {
            .left-block {
                .title {
                    font-size: 3.6em !important;
                }
            }
        }
    }
}