// Color all headers (title, description, underline)
$COLOR_TITLE: #1a1a1a;
$COLOR_DESC: #999999;

// Hover elements & underline titles element
$COLOR_SEA: #008ed6;

// Color border elements
$COLOR_SILVER: #e0e0e0;

// Other colors
$COLOR_WHITE: #fff;
$COLOR_BG_BLACK: #15141a;
$COLOR_BROWN: #444348;
$COLOR_BG_WHITE: #ededed;
$COLOR_BG_WHITE2: #f2f2f2;