@import '../css/reset.css';
@import '_mixin.scss';
@import '_variable.scss';
@import '_expansion.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1200px) {
    .header, .features, .about-us, .testimonials,
    .comments, .advert-board, .pricing, .contact-us {
        .container {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    .header {
        .left-block {
            margin-bottom: 0 !important;

            .main-buttons {
                margin-top: 40px !important;
            }
        }
    }

    .pricing {
        .pricing-body {
            justify-content: space-around !important;

            .price-block {
                flex: 100% !important;
                margin-bottom: 35px !important;
            }
        }
    }

    .advert-board {
        .container {
            flex-direction: column;

            .advert-header {
                max-width: 100% !important;
                align-items: center !important;

                .title {
                    text-align: center;
                }
            }

            .advert-buttons {
                margin-top: 40px !important;
                flex: 100% !important;
                max-width: 100% !important;
                text-align: center !important;
            }
        }
    }
}

@media (max-width: 1024px) {

    .header {
        .top-section {
            .logo {
                flex: 30% !important;
                max-width: 30% !important;
            }

            .main-navigation {
                flex: 70% !important;
                max-width: 70% !important;
            }
        }
        .bottom-section {
            flex-direction: column;
            align-items: center;

            .left-block {
                margin: 0 0 20px !important;
                max-width: 100%;
                justify-content: center;

                .main-info {
                    flex: 100% !important;
                    max-width: 100% !important;
                }

                .main-buttons {
                    margin-top: 40px !important;
                }
            }

            .right-block {
                max-width: 100%;
                justify-content: center !important;
                
                img {
                    max-width: 500px;
                }
            }
        }
    }

    .features {
        .features-head {
            .title {
                text-align: center;
            }
        }
    }

    .about-us {
        padding: 0 !important;

        .container {
            flex-direction: column-reverse;
            align-items: center;

            .left-block {
                margin-top: 20px !important;
                max-width: 100%;
                text-align: center;
                img {
                    max-width: 500px;
                }
            }

            .right-block {
                max-width: 100% !important;
                padding-left: 0 !important;

                .about-desc {
                    max-width: 100%;
                }
            }
        }
    }

    .testimonials {

        .container {
            flex-direction: column;
            align-items: center;

            .left-block {
                max-width: 100% !important;
            }

            .right-block {
                max-width: 100%;
                text-align: center !important;

                img {
                    max-width: 500px;
                }
            }
        }
    }

    .pricing {
        padding-bottom: 10px !important;
    }

    .comments {
        .comments-body {
            .slide {
                text-align: center;

                .user-info {
                    justify-content: center;
                    text-align: left;
                }
            }

            .slick-dots {
                margin-top: 50px !important;
            }
        }
    }

    .contact-us {
        justify-content: center;

        .contact-form {
            width: 80% !important;
            margin: 0 auto !important;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        .bottom-section {
            flex-direction: column;
            align-items: center;

            .left-block {
                margin: 0 0 20px !important;

                .main-buttons {
                    margin-top: 40px !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .mobile-navbar-button {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        .top-section {
            display: none;
        }

        .bottom-section {
            .title {
                font-size: 4.1em !important;
            }
        }
    }

    .features {
        .features-body {
            margin-top: 40px !important;
            flex-direction: column;
            align-items: center;
            max-width: 100%;

            .feature-block {
                max-width: 100%;
            }
        }
    }

    .testimonials {
        .left-block {
            margin-top: 40px !important;
        }
    }

    .pricing {
        .pricing-body {
            margin-top: 40px !important;
        }
    }

    .contact-us {
        .container {
            padding: 0 !important;

            .contact-body {
                flex-direction: column;
                align-items: center;
    
                .contact-block {
                    max-width: 100%;
                    margin-top: 20px !important;
    
                    &:first-child {
                        margin-top: 40px !important;
                    }
    
                    .block-image {
                        margin-bottom: 5px !important;
                        text-align: center !important;
                    }
                }
            }
    
            .contact-form {
                width: 100% !important;
                margin: 0 auto !important;
                margin-top: 40px !important;
                bottom: 0 !important;
                padding: 40px 0 30px !important;
    
                form {
                    .form-top {
                        flex-direction: column;
                        align-items: center;
    
                        .form-left {
                            width: 100% !important;
    
                            .form-left-item {
                                padding-right: 0 !important;
                                max-width: 90%;
        
                                &:last-child {
                                    padding-bottom: 30px !important;
                                }
                            }
                        }
    
                        .form-right {
                            width: 90% !important;
                        }
                    }
    
                    .form-bottom {
                        justify-content: center !important;
                    }
                }
            }   
        }
    }

    .footer {
        padding: 30px !important;
    }
}

@media (max-width: 425px) {
    .header {
        .bottom-section {
            .main-buttons {
                width: 90%;
                display: flex;
                flex-direction: column;
                text-align: center;

                .view-btn {
                    margin-top: 20px !important;
                    margin-left: 0 !important;
                }
            }
        }
    }

    .advert-board {
        .advert-buttons {
            display: flex;
            flex-direction: column;

            .advert-download {
                margin-left: 0 !important;
                margin-top: 20px !important;
            }
        }
    }

    .comments {
        .comments-body {
            padding-top: 40px !important;

            .slide {
                .user-info {
                    flex-direction: column;
    
                    .user-about {
                        margin-left: 0 !important;

                        .user-name, .user-company {
                            text-align: center !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .header {
        .bottom-section {
            .left-block {
                .title {
                    font-size: 3.6em !important;
                }
            }
        }
    }
}

.header {
    background: url('../../images/header_back.png') no-repeat;
    background-size: cover;
    padding: 40px 0 0;

    .top-section {
        .main-navigation {
            .nav-menu {
                justify-content: flex-end;
    
                .nav-item {
                    list-style: none;
                    margin: 0 12px;
    
                    &:first-child {
                        margin-left: 0;
                    }
                    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    a {
                        color: $COLOR_WHITE;
                        font-size: 1.6em;
                        font-weight: 600;
                        text-decoration: none;
                        position: relative;

                        &::before, &::after {
                            content: '';
                            opacity: 0;
                            transition: .3s;
                        }
    
                        &:hover {
                            &::before {
                                content: '';
                                opacity: 1;
                                width: calc(50% - 1px);
                                height: 2px;
                                position: absolute;
                                background-color: $COLOR_SEA;
                                bottom: -10px;
                                left: 0;
                            }
                            &::after {
                                content: '';
                                opacity: 1;
                                width: calc(50% - 1px);
                                height: 2px;
                                position: absolute;
                                background-color: $COLOR_SEA;
                                bottom: -10px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile-navbar-button {
        display: none;
        margin-bottom: 20px;

        .mobile-sandwitch {
            width: 40px;
            height: 30px;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            padding: 5px 5px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;

            position: relative;

            span {
                content: '';
                width: 100%;
                height: 2px;
                background: #fff;
            }

            &.active-nav-btn {
                span {
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    bottom: 45%;

                    &:nth-child(1n) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3n) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(2n) {
                        display: none;
                    }
                }
            }
    
            &:hover {
                cursor: pointer;
            }
        }
    }

    .mobile-top-section {
        display: none;
        width: 100%;
        padding: 20px 0;

        .mobile-navigation {
            width: 100%;

            .mobile-menu {
                width: 100%;
                margin: 0;

                .nav-item {
                    width: 100%;
                    list-style: none;
                    text-align: center;

                    a {
                        display: block;
                        font-size: 1.6em;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }

        &.active-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .nav-item {
                a {
                    font-size: 1.6em;
                    font-weight: 600;
                    text-decoration: none;
                    color: $COLOR_WHITE;
    
                    &:hover {
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
                    }
                }
            }
        }
    }

    .bottom-section {
        justify-content: space-between;

        .left-block {
            margin: 80px 0 105px;

            .main-info {
                .upper-title {
                    color: $COLOR_SEA;
                    font-size: 1.4em;
                    font-weight: 700;
                    letter-spacing: 1.4px;
                    line-height: 48px;
                    text-transform: uppercase;
                    margin: 0;
                }

                .title {
                    color: $COLOR_WHITE;
                    font-size: 4.8em;
                    font-weight: 600;
                    margin-bottom: 25px;
                    line-height: 50px;
                }

                .description {
                    color: $COLOR_DESC;
                    font-size: 1.8em;
                    line-height: 25px;
                }
            }

            .main-buttons {
                margin-top: 85px;

                .download-btn, .view-btn {
                    @include all-buttons;
                }

                .view-btn {
                    margin-left: 15px;
                }
            }
        }

        .right-block {
            width: 100%;
            margin-top: 55px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.main {
    margin-top: 60px;

    // Features section
    .features {
        .features-head {
            @include section-title();
        }

        .features-body {
            margin: 75px 0 55px;

            .feature-block {
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;

                .block-image {
                    width: 88px;
                    height: 88px;
                }

                .block-title {
                    margin-top: 30px;
                    color: $COLOR_TITLE;
                    font-size: 2.4em;
                    font-weight: 400;
                }

                .block-desc {
                    text-align: center;
                    color: $COLOR_DESC;
                    font-size: 1.8em;
                    line-height: 26px;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $COLOR_BG_WHITE;
        }
    }

    // About section
    .about-us {
        padding: 70px 0 15px;

        .left-block {
            padding-left: 20px;

            img {
                width: 100%;
            }
        }

        .right-block {
            margin: 45px 0 0;
            padding-left: 15px;

            .about-head {
                @include section-title();
                .section-underline {
                    margin-top: -5px;
                }
            }

            .about-body {
                margin-top: 25px;

                .about-desc {
                    font-size: 1.8em;
                    color: $COLOR_DESC;
                    line-height: 26px;
                }

                .about-menu {
                    margin-top: 22px;
                    padding-left: 25px;

                    .about-item {
                        list-style: none;
                        color: $COLOR_TITLE;
                        font-weight: 400;
                        font-size: 1.8em;
                        line-height: 36px;
                        position: relative;

                        &.item1 {
                            &::before {
                                @extend %about-item-img;
                                background: url('../../images/about-cup.png') no-repeat;
                            }
                        }

                        &.item2 {
                            &::before {
                                @extend %about-item-img;
                                background: url('../../images/about-mouse.png') no-repeat;
                                background-position: center;
                            }
                        }

                        &.item3 {
                            &::before {
                                @extend %about-item-img;
                                background: url('../../images/about-energy.png') no-repeat;
                                background-position: center;
                            }
                        }

                        &.item4 {
                            &::before {
                                @extend %about-item-img;
                                background: url('../../images/about-speed.png') no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }

    // Testimonials section
    .testimonials {
        background-color: $COLOR_BG_WHITE2;
        padding-top: 35px;
        padding-bottom: 20px;

        .container {
            align-items: center;

            .left-block {

                .testimonials-head {
                    @include section-title();
    
                    .section-underline {
                        margin-top: -10px;
                    }
                }
    
                .testimontials-body {
                    margin-top: 25px;
    
                    .testimonials-desc {
                        font-size: 1.8em;
                        color: $COLOR_DESC;
                        line-height: 26px;
                    }
                }
            }
    
            .right-block {
                text-align: end;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    // Users comments
    .comments {
        background: url('../../images/slider_back.png') no-repeat;
        background-size: cover;
        padding-top: 55px;

        .comments-head {
            @include section-title();

            .title {
                color: $COLOR_WHITE;
            }

            .section-underline {
                margin-top: -5px;
            }
        }

        .comments-body {
            padding-top: 85px;

            .slider {
                padding-bottom: 55px;
                margin-bottom: 0;

                .slide {
                    flex-direction: column;
                    padding: 0 20px;

                    .user-comment {
                        color: $COLOR_WHITE;
                        font-size: 2.4em;
                        font-weight: 400;
                    }

                    .user-info {
                        align-items: center;

                        .user-icon {
                            width: 59px;
                            height: 59px;
                        }

                        .user-about {
                            margin-left: 25px;
                            flex-direction: column;

                            .user-name {
                                color: $COLOR_WHITE;
                                font-size: 1.6em;
                                font-weight: 400;
                                margin: 0;
                            }

                            .user-company {
                                color: $COLOR_WHITE;
                                font-size: 1.6em;
                                font-weight: 700;
                                margin: 0;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                // Redefinition dots on slick-slider
                .slick-dots {
                    position: static;
                    margin-top: 130px;

                    li {
                        button {
                            &::before {
                                content: '';
                                top: 6px;
                                left: 6px;
                                width: 8px;
                                height: 8px;
                                opacity: 1;
                                line-height: normal;

                                border: 1px solid rgba(255, 255, 255, 0.2);
                                border-radius: 100%;
                            }
                        }

                        &.slick-active button:before {
                            top: 3px;
                            left: 3px;
                            border-color: $COLOR_WHITE;
                            background: $COLOR_WHITE;
                            width: 14px;
                            height: 14px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // Advert under users comments
    .advert-board {
        background-color: $COLOR_BG_BLACK;
        height: 100%;
        padding: 60px 0;

        .container {
            align-items: center;

            .advert-header {
                .title {
                    color: $COLOR_WHITE;
                    font-size: 3.6em;
                    font-weight: 400;
                }
        
                .title-after {
                    color: $COLOR_WHITE;
                    font-weight: 300;
                }
            }
    
            .advert-buttons {
                text-align: end;

                .advert-view, .advert-download {
                    @include all-buttons;
                }

                .advert-download {
                    margin-left: 15px;
                }
            }
        }
    }

    // Pricing section
    .pricing {
        padding: 55px 0 60px;

        .container {
            .pricing-head {
                @include section-title;

                .section-underline {
                    margin-top: -5px;
                }
            }

            .pricing-body {
                margin-top: 70px;
                flex-wrap: wrap;
                justify-content: space-between;

                .price-block {
                    flex-direction: column;
                    max-width: 270px;

                    margin: 0 10px;

                    .block-title {
                        justify-content: center;
                        border: 1px solid $COLOR_SILVER;
                        border-bottom: 0;
                        padding: 25px 80px;

                        .title {
                            font-size: 2.4em;
                            color: $COLOR_TITLE;
                            font-weight: 700;
                            line-height: 20px;
                            text-transform: uppercase;
                            margin: 0;
                            transition: .3s;
                        }
                    }

                    .block-cost {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $COLOR_SILVER;
                        border-bottom: 0;
                        padding: 15px 0 30px;
                        transition: .3s;

                        &:hover {
                            cursor: default;
                        }

                        .cost {
                            margin: 0;

                            sup {
                                font-size: 0.48em;
                            }

                            span {
                                color: $COLOR_DESC;
                                font-size: 0.33em;
                                font-weight: 400;
                            }

                            color: $COLOR_TITLE;
                            font-size: 6em;
                            font-weight: 600;
                            transition: .3s;
                        }

                        .cost-under {
                            margin: -15px 0 0;
                            color: $COLOR_DESC;
                            font-size: 1.8em;
                            font-weight: 400;
                            transition: .3s;
                        }
                    }

                    .block-desc {
                        justify-content: center;
                        border: 1px solid $COLOR_SILVER;
                        padding: 50px 30px 40px;

                        .description {
                            color: $COLOR_DESC;
                            font-size: 1.8em;
                            font-weight: 400;
                            line-height: 26px;
                            margin-bottom: 55px;
                            text-align: center;

                            span {
                                color: $COLOR_SEA;
                            }
                        }

                        .desc-button {
                            .button {
                                @include all-buttons;
                                color: $COLOR_SEA !important;
                                border: 1px solid $COLOR_SILVER !important;
                                padding: 15px 40px !important;

                                &:hover {
                                    color: $COLOR_WHITE !important;
                                    border-color: $COLOR_SEA !important;
                                }
                            }
                        }
                    }

                    &:hover {
                        .block-title {
                            .title {
                                color: $COLOR_SEA;
                            }
                        }

                        .block-cost {
                            border-color: $COLOR_SEA;
                            background-color: $COLOR_SEA;

                            .cost, .cost-under {
                                color: $COLOR_WHITE;
                            }
                        }
                    }
                }
            }
        }
    }

    // Contact-us section
    .contact-us {
        background-color: $COLOR_BG_WHITE;
        padding: 55px 0 0;

        .container {
            position: relative;

            .contact-head {
                @include section-title;
                max-width: 100%;
    
                .section-underline {
                    margin-top: -5px;
                }
            }
    
            .contact-body {
                width: 100%;

                .contact-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;
    
                    .block-image {
                        width: 32px;
                        height: 32px;
                        margin-bottom: 25px;
        
                        img {
                            max-width: 32px;
                            max-height: 32px;
                        }
                    }
        
                    .block-desc {
                        p {
                            color: $COLOR_DESC;
                            font-size: 1.8em;
                            font-weight: 400;
                            line-height: 26px;
                            text-align: center;
                        }
                    }
                }
            }
    
            .contact-form {
                width: 65%;
                margin: 0 auto;
                background-color: $COLOR_BG_BLACK;
                padding: 70px 75px 40px 65px;
                position: relative;
                bottom: -55px;
                z-index: 2;
    
                form {
                    width: 100%;
    
                    .form-top {
                        margin: -10px 0;
    
                        .form-left {
                            flex-direction: column;
                            align-items: center;
                            width: 52%;
                            height: 100%;
    
                            .form-left-item {
                                width: 100%;
                                height: 100%;
                                padding: 0 30px 30px 0;
    
                                input {
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid rgba(255, 255, 255, 0.2);
                                    background: none;
                                    color: $COLOR_WHITE;
                                    font-size: 1.4em;
                                    border-radius: 5px;
        
                                    padding: 15px 20px;
                                    outline: none;
        
                                    &::placeholder {
                                        color: $COLOR_WHITE;
                                        opacity: 0.2;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                    }
                                }
    
                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }
    
                        .form-right {
                            width: 48%;
    
                            textarea {
                                width: 100%;
                                height: 100%;
                                border: 1px solid rgba(255, 255, 255, 0.2);
                                background: none;
                                color: $COLOR_WHITE;
                                font-size: 1.4em;
                                border-radius: 5px;
                                resize: none;
    
                                padding: 15px 20px;
                                outline: none;
    
                                &::placeholder {
                                    color: $COLOR_WHITE;
                                    opacity: 0.2;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
    
                    .form-bottom {
                        justify-content: flex-end;
                        margin-top: 25px;
    
                        .form-submit {
                            height: auto;
                            background: none;
                            @include all-buttons;
                            padding: 15px 35px !important;
                            border: 1px solid rgba(255, 255, 255, 0.2) !important;
                        }
                    }
                }
            }
        }
    }

    // Google-map location section
    .google-map {
        width: 100%;
        height: 360px;
        
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.footer {
    background-color: $COLOR_BG_BLACK;
    padding: 50px 0;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-top {
            a {
                color: $COLOR_WHITE;
                opacity: 0.2;
                font-size: 2em;
                margin: 0 15px;
                transition: .3s;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: $COLOR_SEA;
                    opacity: 1;
                }
            }
        }

        .footer-bottom {
            margin-top: 20px;

            p {
                margin: 0;
                color: $COLOR_BROWN;
                font-size: 1.4em;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}