@import '../css/reset.css';
@import '_mixin.scss';
@import '_variable.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background: url('../../images/header_back.png') no-repeat;
    background-size: 100%;
    padding: 40px 0 0;
    height: 100%;

    .top-section {
        .main-navigation {
            .nav-menu {
                justify-content: flex-end;
    
                .nav-item {
                    list-style: none;
                    margin: 0 12px;
    
                    &:first-child {
                        margin-left: 0;
                    }
                    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    a {
                        color: #fffefe;
                        font-size: 1.6em;
                        font-weight: 600;
                        text-decoration: none;
                        position: relative;

                        &::before, &::after {
                            content: '';
                            opacity: 0;
                            transition: .3s;
                        }
    
                        &:hover {
                            &::before {
                                content: '';
                                opacity: 1;
                                width: 48%;
                                height: 2px;
                                position: absolute;
                                background-color: #008ed6;
                                bottom: -10px;
                                left: 0;
                            }
                            &::after {
                                content: '';
                                opacity: 1;
                                width: 48%;
                                height: 2px;
                                position: absolute;
                                background-color: #008ed6;
                                bottom: -10px;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-section {
        justify-content: space-between;

        .left-block {
            margin: 80px 0 105px;

            .main-info {
                .upper-title {
                    color: #008ed6;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1.4px;
                    line-height: 48px;
                    text-transform: uppercase;
                    margin: 0;
                }

                .title {
                    color: #fff;
                    font-size: 4.8em;
                    font-weight: 600;
                    margin-bottom: 25px;
                    line-height: 50px;
                }

                .description {
                    color: #999999;
                    font-size: 1.8em;
                    line-height: 25px;
                }
            }

            .main-buttons {
                margin-top: 85px;

                .download-btn, .view-btn {
                    @include all-buttons;
                }

                .view-btn {
                    margin-left: 15px;
                }
            }
        }

        .right-block {
            margin-top: 55px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            img {
                width: 510px;
                height: 520px;
            }
        }
    }
}

.main {
    margin-top: 60px;

    // Features section
    .features {
        .features-head {
            @include section-title();
        }

        .features-body {
            margin: 75px 0 55px;

            .feature-block {
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;

                .block-image {
                    width: 88px;
                    height: 88px;
                }

                .block-title {
                    margin-top: 30px;
                    color: $COLOR_TITLE;
                    font-size: 2.4em;
                    font-weight: 400;
                }

                .block-desc {
                    text-align: center;
                    color: #999999;
                    font-size: 1.8em;
                    line-height: 26px;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ededed;
        }
    }

    // About section
    .about-us {
        height: 100%;
        padding: 70px 0 15px;

        .left-block {
            padding-left: 20px;
        }

        .right-block {
            margin: 45px 0 0;
            padding-left: 15px;

            .about-head {
                @include section-title();
                .section-underline {
                    margin-top: -5px;
                }
            }

            .about-body {
                margin-top: 25px;

                .about-desc {
                    font-size: 1.8em;
                    color: #999999;
                    line-height: 26px;
                }

                .about-menu {
                    margin-top: 22px;
                    padding-left: 25px;

                    .about-item {
                        list-style: none;
                        color: $COLOR_TITLE;
                        font-weight: 400;
                        font-size: 1.8em;
                        line-height: 36px;
                        position: relative;

                        &.item1 {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 30%;
                                left: -25px;
                                width: 16px;
                                height: 16px;
                                background: url('../../images/about-cup.png') no-repeat;
                            }
                        }

                        &.item2 {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 30%;
                                left: -25px;
                                width: 16px;
                                height: 16px;
                                background: url('../../images/about-mouse.png') no-repeat;
                                background-position: center;
                            }
                        }

                        &.item3 {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 30%;
                                left: -25px;
                                width: 16px;
                                height: 16px;
                                background: url('../../images/about-energy.png') no-repeat;
                                background-position: center;
                            }
                        }

                        &.item4 {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 30%;
                                left: -25px;
                                width: 16px;
                                height: 16px;
                                background: url('../../images/about-speed.png') no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }

    // Testimonials section
    .testimonials {
        height: 100%;
        background-color: #f2f2f2;
        padding-top: 35px;
        padding-bottom: 20px;

        .left-block {
            height: 100%;
            margin: 95px 0 0;

            .testimonials-head {
                @include section-title();

                .section-underline {
                    margin-top: -10px;
                }
            }

            .testimontials-body {
                margin-top: 25px;

                .testimonials-desc {
                    font-size: 1.8em;
                    color: #999999;
                    line-height: 26px;
                }
            }
        }

        .right-block {
            text-align: end;
            height: 100%;

            img {
                height: 100%;
            }
        }
    }

    // Users comments
    .comments {
        background: url('../../images/slider_back.png') no-repeat;
        background-size: 100%;
        height: 100%;
        padding-top: 55px;

        .comments-head {
            @include section-title();

            .title {
                color: #fff;
            }

            .section-underline {
                margin-top: -5px;
            }
        }

        .comments-body {
            padding-top: 85px;

            .slider {
                padding-bottom: 25px;

                .slide {
                    flex-direction: column;

                    .user-comment {
                        color: #fff;
                        font-size: 2.4em;
                        font-weight: 400;
                    }

                    .user-info {
                        align-items: center;

                        .user-icon {
                            width: 59px;
                            height: 59px;
                        }

                        .user-about {
                            margin-left: 25px;
                            flex-direction: column;

                            .user-name {
                                color: #fff;
                                font-size: 1.6em;
                                font-weight: 400;
                                margin: 0;
                            }

                            .user-company {
                                color: #fff;
                                font-size: 1.6em;
                                font-weight: 700;
                                margin: 0;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                // Redefinition dots on slick-slider
                .slick-dots {
                    position: static;
                    margin-top: 130px;

                    li {
                        button {
                            &::before {
                                content: '';
                                top: 6px;
                                left: 6px;
                                width: 8px;
                                height: 8px;
                                opacity: 1;
                                line-height: normal;

                                border: 1px solid rgba(255, 255, 255, 0.2);
                                border-radius: 100%;
                            }
                        }

                        &.slick-active button:before {
                            top: 3px;
                            left: 3px;
                            border-color: #fff;
                            background: #fff;
                            width: 14px;
                            height: 14px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // Advert under users comments
    .advert-board {
        background-color: #15141a;
        height: 100%;
        padding: 60px 0;

        .container {
            align-items: center;

            .advert-header {
                .title {
                    color: #fff;
                    font-size: 3.6em;
                    font-weight: 400;
                }
        
                .title-after {
                    margin-left: 10px;
                    color: #fff;
                    font-weight: 300;
                }
            }
    
            .advert-buttons {
                text-align: end;

                .advert-view, .advert-download {
                    @include all-buttons;
                }

                .advert-download {
                    margin-left: 15px;
                }
            }
        }
    }

    // Pricing section
    .pricing {
        padding: 55px 0 60px;

        .container {
            .pricing-head {
                @include section-title;

                .section-underline {
                    margin-top: -5px;
                }
            }

            .pricing-body {
                margin-top: 70px;
                justify-content: space-between;

                .price-block {
                    flex-direction: column;
                    max-width: 270px;

                    .block-title {
                        justify-content: center;
                        border: 1px solid #e0e0e0;
                        border-bottom: 0;
                        padding: 25px 80px;

                        .title {
                            font-size: 2.4em;
                            color: $COLOR_TITLE;
                            font-weight: 700;
                            line-height: 20px;
                            text-transform: uppercase;
                            margin: 0;
                            transition: .3s;
                        }
                    }

                    .block-cost {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #e0e0e0;
                        border-bottom: 0;
                        padding: 15px 0 30px;
                        transition: .3s;

                        &:hover {
                            cursor: default;
                        }

                        .cost {
                            margin: 0;

                            sup {
                                font-size: 0.48em;
                            }

                            span {
                                color: #999999;
                                font-size: 0.33em;
                                font-weight: 400;
                            }

                            color: $COLOR_TITLE;
                            font-size: 6em;
                            font-weight: 600;
                            transition: .3s;
                        }

                        .cost-under {
                            margin: -15px 0 0;
                            color: #999999;
                            font-size: 1.8em;
                            font-weight: 400;
                            transition: .3s;
                        }
                    }

                    .block-desc {
                        justify-content: center;
                        border: 1px solid #e0e0e0;
                        padding: 50px 30px 40px;

                        .description {
                            color: #999999;
                            font-size: 1.8em;
                            font-weight: 400;
                            line-height: 26px;
                            margin-bottom: 55px;
                            text-align: center;

                            span {
                                color: #008ed6;
                            }
                        }

                        .desc-button {
                            .button {
                                @include all-buttons;
                                color: #008ed6 !important;
                                border: 1px solid #e0e0e0 !important;
                                padding: 15px 40px !important;

                                &:hover {
                                    color: #fff !important;
                                }
                            }
                        }
                    }

                    &:hover {
                        .block-title {
                            .title {
                                color: #008ed6;
                            }
                        }

                        .block-cost {
                            border-color: #008ed6;
                            background-color: #008ed6;

                            .cost, .cost-under {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}