@import url(../css/reset.css);
.main .about-us .right-block .about-body .about-menu .about-item.item1::before, .main .about-us .right-block .about-body .about-menu .about-item.item2::before, .main .about-us .right-block .about-body .about-menu .about-item.item3::before, .main .about-us .right-block .about-body .about-menu .about-item.item4::before {
  content: '';
  position: absolute;
  top: 30%;
  left: -25px;
  width: 16px;
  height: 16px; }

@media (max-width: 1200px) {
  .header .container, .features .container, .about-us .container, .testimonials .container,
  .comments .container, .advert-board .container, .pricing .container, .contact-us .container {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .header .left-block {
    margin-bottom: 0 !important; }
    .header .left-block .main-buttons {
      margin-top: 40px !important; }
  .pricing .pricing-body {
    justify-content: space-around !important; }
    .pricing .pricing-body .price-block {
      flex: 100% !important;
      margin-bottom: 35px !important; }
  .advert-board .container {
    flex-direction: column; }
    .advert-board .container .advert-header {
      max-width: 100% !important;
      align-items: center !important; }
      .advert-board .container .advert-header .title {
        text-align: center; }
    .advert-board .container .advert-buttons {
      margin-top: 40px !important;
      flex: 100% !important;
      max-width: 100% !important;
      text-align: center !important; } }

@media (max-width: 1024px) {
  .header .top-section .logo {
    flex: 30% !important;
    max-width: 30% !important; }
  .header .top-section .main-navigation {
    flex: 70% !important;
    max-width: 70% !important; }
  .header .bottom-section {
    flex-direction: column;
    align-items: center; }
    .header .bottom-section .left-block {
      margin: 0 0 20px !important;
      max-width: 100%;
      justify-content: center; }
      .header .bottom-section .left-block .main-info {
        flex: 100% !important;
        max-width: 100% !important; }
      .header .bottom-section .left-block .main-buttons {
        margin-top: 40px !important; }
    .header .bottom-section .right-block {
      max-width: 100%;
      justify-content: center !important; }
      .header .bottom-section .right-block img {
        max-width: 500px; }
  .features .features-head .title {
    text-align: center; }
  .about-us {
    padding: 0 !important; }
    .about-us .container {
      flex-direction: column-reverse;
      align-items: center; }
      .about-us .container .left-block {
        margin-top: 20px !important;
        max-width: 100%;
        text-align: center; }
        .about-us .container .left-block img {
          max-width: 500px; }
      .about-us .container .right-block {
        max-width: 100% !important;
        padding-left: 0 !important; }
        .about-us .container .right-block .about-desc {
          max-width: 100%; }
  .testimonials .container {
    flex-direction: column;
    align-items: center; }
    .testimonials .container .left-block {
      max-width: 100% !important; }
    .testimonials .container .right-block {
      max-width: 100%;
      text-align: center !important; }
      .testimonials .container .right-block img {
        max-width: 500px; }
  .pricing {
    padding-bottom: 10px !important; }
  .comments .comments-body .slide {
    text-align: center; }
    .comments .comments-body .slide .user-info {
      justify-content: center;
      text-align: left; }
  .comments .comments-body .slick-dots {
    margin-top: 50px !important; }
  .contact-us {
    justify-content: center; }
    .contact-us .contact-form {
      width: 80% !important;
      margin: 0 auto !important; } }

@media (max-width: 1000px) {
  .header .bottom-section {
    flex-direction: column;
    align-items: center; }
    .header .bottom-section .left-block {
      margin: 0 0 20px !important; }
      .header .bottom-section .left-block .main-buttons {
        margin-top: 40px !important; } }

@media (max-width: 768px) {
  .mobile-navbar-button {
    display: flex !important;
    justify-content: space-between;
    align-items: center; }
  .header .top-section {
    display: none; }
  .header .bottom-section .title {
    font-size: 4.1em !important; }
  .features .features-body {
    margin-top: 40px !important;
    flex-direction: column;
    align-items: center;
    max-width: 100%; }
    .features .features-body .feature-block {
      max-width: 100%; }
  .testimonials .left-block {
    margin-top: 40px !important; }
  .pricing .pricing-body {
    margin-top: 40px !important; }
  .contact-us .container {
    padding: 0 !important; }
    .contact-us .container .contact-body {
      flex-direction: column;
      align-items: center; }
      .contact-us .container .contact-body .contact-block {
        max-width: 100%;
        margin-top: 20px !important; }
        .contact-us .container .contact-body .contact-block:first-child {
          margin-top: 40px !important; }
        .contact-us .container .contact-body .contact-block .block-image {
          margin-bottom: 5px !important;
          text-align: center !important; }
    .contact-us .container .contact-form {
      width: 100% !important;
      margin: 0 auto !important;
      margin-top: 40px !important;
      bottom: 0 !important;
      padding: 40px 0 30px !important; }
      .contact-us .container .contact-form form .form-top {
        flex-direction: column;
        align-items: center; }
        .contact-us .container .contact-form form .form-top .form-left {
          width: 100% !important; }
          .contact-us .container .contact-form form .form-top .form-left .form-left-item {
            padding-right: 0 !important;
            max-width: 90%; }
            .contact-us .container .contact-form form .form-top .form-left .form-left-item:last-child {
              padding-bottom: 30px !important; }
        .contact-us .container .contact-form form .form-top .form-right {
          width: 90% !important; }
      .contact-us .container .contact-form form .form-bottom {
        justify-content: center !important; }
  .footer {
    padding: 30px !important; } }

@media (max-width: 425px) {
  .header .bottom-section .main-buttons {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .header .bottom-section .main-buttons .view-btn {
      margin-top: 20px !important;
      margin-left: 0 !important; }
  .advert-board .advert-buttons {
    display: flex;
    flex-direction: column; }
    .advert-board .advert-buttons .advert-download {
      margin-left: 0 !important;
      margin-top: 20px !important; }
  .comments .comments-body {
    padding-top: 40px !important; }
    .comments .comments-body .slide .user-info {
      flex-direction: column; }
      .comments .comments-body .slide .user-info .user-about {
        margin-left: 0 !important; }
        .comments .comments-body .slide .user-info .user-about .user-name, .comments .comments-body .slide .user-info .user-about .user-company {
          text-align: center !important; } }

@media (max-width: 360px) {
  .header .bottom-section .left-block .title {
    font-size: 3.6em !important; } }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

.header {
  background: url("../../images/header_back.png") no-repeat;
  background-size: cover;
  padding: 40px 0 0; }
  .header .top-section .main-navigation .nav-menu {
    justify-content: flex-end; }
    .header .top-section .main-navigation .nav-menu .nav-item {
      list-style: none;
      margin: 0 12px; }
      .header .top-section .main-navigation .nav-menu .nav-item:first-child {
        margin-left: 0; }
      .header .top-section .main-navigation .nav-menu .nav-item:last-child {
        margin-right: 0; }
      .header .top-section .main-navigation .nav-menu .nav-item a {
        color: #fff;
        font-size: 1.6em;
        font-weight: 600;
        text-decoration: none;
        position: relative; }
        .header .top-section .main-navigation .nav-menu .nav-item a::before, .header .top-section .main-navigation .nav-menu .nav-item a::after {
          content: '';
          opacity: 0;
          transition: .3s; }
        .header .top-section .main-navigation .nav-menu .nav-item a:hover::before {
          content: '';
          opacity: 1;
          width: calc(50% - 1px);
          height: 2px;
          position: absolute;
          background-color: #008ed6;
          bottom: -10px;
          left: 0; }
        .header .top-section .main-navigation .nav-menu .nav-item a:hover::after {
          content: '';
          opacity: 1;
          width: calc(50% - 1px);
          height: 2px;
          position: absolute;
          background-color: #008ed6;
          bottom: -10px;
          right: 0; }
  .header .mobile-navbar-button {
    display: none;
    margin-bottom: 20px; }
    .header .mobile-navbar-button .mobile-sandwitch {
      width: 40px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      position: relative; }
      .header .mobile-navbar-button .mobile-sandwitch span {
        content: '';
        width: 100%;
        height: 2px;
        background: #fff; }
      .header .mobile-navbar-button .mobile-sandwitch.active-nav-btn span {
        position: absolute;
        width: 70%;
        height: 2px;
        bottom: 45%; }
        .header .mobile-navbar-button .mobile-sandwitch.active-nav-btn span:nth-child(1n) {
          transform: rotate(45deg); }
        .header .mobile-navbar-button .mobile-sandwitch.active-nav-btn span:nth-child(3n) {
          transform: rotate(-45deg); }
        .header .mobile-navbar-button .mobile-sandwitch.active-nav-btn span:nth-child(2n) {
          display: none; }
      .header .mobile-navbar-button .mobile-sandwitch:hover {
        cursor: pointer; }
  .header .mobile-top-section {
    display: none;
    width: 100%;
    padding: 20px 0; }
    .header .mobile-top-section .mobile-navigation {
      width: 100%; }
      .header .mobile-top-section .mobile-navigation .mobile-menu {
        width: 100%;
        margin: 0; }
        .header .mobile-top-section .mobile-navigation .mobile-menu .nav-item {
          width: 100%;
          list-style: none;
          text-align: center; }
          .header .mobile-top-section .mobile-navigation .mobile-menu .nav-item a {
            display: block;
            font-size: 1.6em;
            font-weight: 600;
            text-decoration: none; }
    .header .mobile-top-section.active-mobile {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 769px) {
        .header .mobile-top-section.active-mobile {
          display: none; } }
      .header .mobile-top-section.active-mobile .nav-item a {
        font-size: 1.6em;
        font-weight: 600;
        text-decoration: none;
        color: #fff; }
        .header .mobile-top-section.active-mobile .nav-item a:hover {
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }
  .header .bottom-section {
    justify-content: space-between; }
    .header .bottom-section .left-block {
      margin: 80px 0 105px; }
      .header .bottom-section .left-block .main-info .upper-title {
        color: #008ed6;
        font-size: 1.4em;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 48px;
        text-transform: uppercase;
        margin: 0; }
      .header .bottom-section .left-block .main-info .title {
        color: #fff;
        font-size: 4.8em;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 50px; }
      .header .bottom-section .left-block .main-info .description {
        color: #999999;
        font-size: 1.8em;
        line-height: 25px; }
      .header .bottom-section .left-block .main-buttons {
        margin-top: 85px; }
        .header .bottom-section .left-block .main-buttons .download-btn, .header .bottom-section .left-block .main-buttons .view-btn {
          color: #fff;
          font-size: 1.4em;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 28px;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          transition: .3s; }
          .header .bottom-section .left-block .main-buttons .download-btn:hover, .header .bottom-section .left-block .main-buttons .view-btn:hover {
            background-color: #008ed6;
            border-color: #008ed6; }
        .header .bottom-section .left-block .main-buttons .view-btn {
          margin-left: 15px; }
    .header .bottom-section .right-block {
      width: 100%;
      margin-top: 55px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .header .bottom-section .right-block img {
        width: 100%;
        height: 100%; }

.main {
  margin-top: 60px; }
  .main .features .features-head {
    flex-direction: column;
    align-items: center; }
    .main .features .features-head .upper-title {
      color: #008ed6;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.4px;
      text-transform: uppercase; }
    .main .features .features-head .title {
      color: #1a1a1a;
      font-size: 36px;
      font-weight: 600;
      margin: 0 0 40px; }
    .main .features .features-head .section-underline {
      width: 42px;
      height: 2px;
      position: relative; }
      .main .features .features-head .section-underline::before {
        content: '';
        position: absolute;
        width: 48%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: #008ed6; }
      .main .features .features-head .section-underline::after {
        content: '';
        position: absolute;
        width: 48%;
        height: 100%;
        bottom: 0;
        right: 0;
        background-color: #008ed6; }
  .main .features .features-body {
    margin: 75px 0 55px; }
    .main .features .features-body .feature-block {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap; }
      .main .features .features-body .feature-block .block-image {
        width: 88px;
        height: 88px; }
      .main .features .features-body .feature-block .block-title {
        margin-top: 30px;
        color: #1a1a1a;
        font-size: 2.4em;
        font-weight: 400; }
      .main .features .features-body .feature-block .block-desc {
        text-align: center;
        color: #999999;
        font-size: 1.8em;
        line-height: 26px; }
  .main .features::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ededed; }
  .main .about-us {
    padding: 70px 0 15px; }
    .main .about-us .left-block {
      padding-left: 20px; }
      .main .about-us .left-block img {
        width: 100%; }
    .main .about-us .right-block {
      margin: 45px 0 0;
      padding-left: 15px; }
      .main .about-us .right-block .about-head {
        flex-direction: column;
        align-items: center; }
        .main .about-us .right-block .about-head .upper-title {
          color: #008ed6;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
        .main .about-us .right-block .about-head .title {
          color: #1a1a1a;
          font-size: 36px;
          font-weight: 600;
          margin: 0 0 40px; }
        .main .about-us .right-block .about-head .section-underline {
          width: 42px;
          height: 2px;
          position: relative; }
          .main .about-us .right-block .about-head .section-underline::before {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: #008ed6; }
          .main .about-us .right-block .about-head .section-underline::after {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            right: 0;
            background-color: #008ed6; }
        .main .about-us .right-block .about-head .section-underline {
          margin-top: -5px; }
      .main .about-us .right-block .about-body {
        margin-top: 25px; }
        .main .about-us .right-block .about-body .about-desc {
          font-size: 1.8em;
          color: #999999;
          line-height: 26px; }
        .main .about-us .right-block .about-body .about-menu {
          margin-top: 22px;
          padding-left: 25px; }
          .main .about-us .right-block .about-body .about-menu .about-item {
            list-style: none;
            color: #1a1a1a;
            font-weight: 400;
            font-size: 1.8em;
            line-height: 36px;
            position: relative; }
            .main .about-us .right-block .about-body .about-menu .about-item.item1::before {
              background: url("../../images/about-cup.png") no-repeat; }
            .main .about-us .right-block .about-body .about-menu .about-item.item2::before {
              background: url("../../images/about-mouse.png") no-repeat;
              background-position: center; }
            .main .about-us .right-block .about-body .about-menu .about-item.item3::before {
              background: url("../../images/about-energy.png") no-repeat;
              background-position: center; }
            .main .about-us .right-block .about-body .about-menu .about-item.item4::before {
              background: url("../../images/about-speed.png") no-repeat; }
  .main .testimonials {
    background-color: #f2f2f2;
    padding-top: 35px;
    padding-bottom: 20px; }
    .main .testimonials .container {
      align-items: center; }
      .main .testimonials .container .left-block .testimonials-head {
        flex-direction: column;
        align-items: center; }
        .main .testimonials .container .left-block .testimonials-head .upper-title {
          color: #008ed6;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
        .main .testimonials .container .left-block .testimonials-head .title {
          color: #1a1a1a;
          font-size: 36px;
          font-weight: 600;
          margin: 0 0 40px; }
        .main .testimonials .container .left-block .testimonials-head .section-underline {
          width: 42px;
          height: 2px;
          position: relative; }
          .main .testimonials .container .left-block .testimonials-head .section-underline::before {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: #008ed6; }
          .main .testimonials .container .left-block .testimonials-head .section-underline::after {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            right: 0;
            background-color: #008ed6; }
        .main .testimonials .container .left-block .testimonials-head .section-underline {
          margin-top: -10px; }
      .main .testimonials .container .left-block .testimontials-body {
        margin-top: 25px; }
        .main .testimonials .container .left-block .testimontials-body .testimonials-desc {
          font-size: 1.8em;
          color: #999999;
          line-height: 26px; }
      .main .testimonials .container .right-block {
        text-align: end; }
        .main .testimonials .container .right-block img {
          width: 100%;
          height: 100%; }
  .main .comments {
    background: url("../../images/slider_back.png") no-repeat;
    background-size: cover;
    padding-top: 55px; }
    .main .comments .comments-head {
      flex-direction: column;
      align-items: center; }
      .main .comments .comments-head .upper-title {
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase; }
      .main .comments .comments-head .title {
        color: #1a1a1a;
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 40px; }
      .main .comments .comments-head .section-underline {
        width: 42px;
        height: 2px;
        position: relative; }
        .main .comments .comments-head .section-underline::before {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          left: 0;
          background-color: #008ed6; }
        .main .comments .comments-head .section-underline::after {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          right: 0;
          background-color: #008ed6; }
      .main .comments .comments-head .title {
        color: #fff; }
      .main .comments .comments-head .section-underline {
        margin-top: -5px; }
    .main .comments .comments-body {
      padding-top: 85px; }
      .main .comments .comments-body .slider {
        padding-bottom: 55px;
        margin-bottom: 0; }
        .main .comments .comments-body .slider .slide {
          flex-direction: column;
          padding: 0 20px; }
          .main .comments .comments-body .slider .slide .user-comment {
            color: #fff;
            font-size: 2.4em;
            font-weight: 400; }
          .main .comments .comments-body .slider .slide .user-info {
            align-items: center; }
            .main .comments .comments-body .slider .slide .user-info .user-icon {
              width: 59px;
              height: 59px; }
            .main .comments .comments-body .slider .slide .user-info .user-about {
              margin-left: 25px;
              flex-direction: column; }
              .main .comments .comments-body .slider .slide .user-info .user-about .user-name {
                color: #fff;
                font-size: 1.6em;
                font-weight: 400;
                margin: 0; }
              .main .comments .comments-body .slider .slide .user-info .user-about .user-company {
                color: #fff;
                font-size: 1.6em;
                font-weight: 700;
                margin: 0;
                text-transform: uppercase; }
        .main .comments .comments-body .slider .slick-dots {
          position: static;
          margin-top: 130px; }
          .main .comments .comments-body .slider .slick-dots li button::before {
            content: '';
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            opacity: 1;
            line-height: normal;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 100%; }
          .main .comments .comments-body .slider .slick-dots li.slick-active button:before {
            top: 3px;
            left: 3px;
            border-color: #fff;
            background: #fff;
            width: 14px;
            height: 14px;
            opacity: 1; }
  .main .advert-board {
    background-color: #15141a;
    height: 100%;
    padding: 60px 0; }
    .main .advert-board .container {
      align-items: center; }
      .main .advert-board .container .advert-header .title {
        color: #fff;
        font-size: 3.6em;
        font-weight: 400; }
      .main .advert-board .container .advert-header .title-after {
        color: #fff;
        font-weight: 300; }
      .main .advert-board .container .advert-buttons {
        text-align: end; }
        .main .advert-board .container .advert-buttons .advert-view, .main .advert-board .container .advert-buttons .advert-download {
          color: #fff;
          font-size: 1.4em;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 28px;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          transition: .3s; }
          .main .advert-board .container .advert-buttons .advert-view:hover, .main .advert-board .container .advert-buttons .advert-download:hover {
            background-color: #008ed6;
            border-color: #008ed6; }
        .main .advert-board .container .advert-buttons .advert-download {
          margin-left: 15px; }
  .main .pricing {
    padding: 55px 0 60px; }
    .main .pricing .container .pricing-head {
      flex-direction: column;
      align-items: center; }
      .main .pricing .container .pricing-head .upper-title {
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase; }
      .main .pricing .container .pricing-head .title {
        color: #1a1a1a;
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 40px; }
      .main .pricing .container .pricing-head .section-underline {
        width: 42px;
        height: 2px;
        position: relative; }
        .main .pricing .container .pricing-head .section-underline::before {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          left: 0;
          background-color: #008ed6; }
        .main .pricing .container .pricing-head .section-underline::after {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          right: 0;
          background-color: #008ed6; }
      .main .pricing .container .pricing-head .section-underline {
        margin-top: -5px; }
    .main .pricing .container .pricing-body {
      margin-top: 70px;
      flex-wrap: wrap;
      justify-content: space-between; }
      .main .pricing .container .pricing-body .price-block {
        flex-direction: column;
        max-width: 270px; }
        .main .pricing .container .pricing-body .price-block .block-title {
          justify-content: center;
          border: 1px solid #e0e0e0;
          border-bottom: 0;
          padding: 25px 80px; }
          .main .pricing .container .pricing-body .price-block .block-title .title {
            font-size: 2.4em;
            color: #1a1a1a;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            transition: .3s; }
        .main .pricing .container .pricing-body .price-block .block-cost {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #e0e0e0;
          border-bottom: 0;
          padding: 15px 0 30px;
          transition: .3s; }
          .main .pricing .container .pricing-body .price-block .block-cost:hover {
            cursor: default; }
          .main .pricing .container .pricing-body .price-block .block-cost .cost {
            margin: 0;
            color: #1a1a1a;
            font-size: 6em;
            font-weight: 600;
            transition: .3s; }
            .main .pricing .container .pricing-body .price-block .block-cost .cost sup {
              font-size: 0.48em; }
            .main .pricing .container .pricing-body .price-block .block-cost .cost span {
              color: #999999;
              font-size: 0.33em;
              font-weight: 400; }
          .main .pricing .container .pricing-body .price-block .block-cost .cost-under {
            margin: -15px 0 0;
            color: #999999;
            font-size: 1.8em;
            font-weight: 400;
            transition: .3s; }
        .main .pricing .container .pricing-body .price-block .block-desc {
          justify-content: center;
          border: 1px solid #e0e0e0;
          padding: 50px 30px 40px; }
          .main .pricing .container .pricing-body .price-block .block-desc .description {
            color: #999999;
            font-size: 1.8em;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 55px;
            text-align: center; }
            .main .pricing .container .pricing-body .price-block .block-desc .description span {
              color: #008ed6; }
          .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button {
            color: #008ed6 !important;
            border: 1px solid #e0e0e0 !important;
            padding: 15px 40px !important; }
            .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button {
              color: #fff;
              font-size: 1.4em;
              font-weight: 700;
              text-transform: uppercase;
              text-decoration: none;
              padding: 15px 28px;
              border: 2px solid rgba(255, 255, 255, 0.1);
              border-radius: 5px;
              transition: .3s; }
              .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button:hover {
                background-color: #008ed6;
                border-color: #008ed6; }
            .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button:hover {
              color: #fff !important;
              border-color: #008ed6 !important; }
        .main .pricing .container .pricing-body .price-block:hover .block-title .title {
          color: #008ed6; }
        .main .pricing .container .pricing-body .price-block:hover .block-cost {
          border-color: #008ed6;
          background-color: #008ed6; }
          .main .pricing .container .pricing-body .price-block:hover .block-cost .cost, .main .pricing .container .pricing-body .price-block:hover .block-cost .cost-under {
            color: #fff; }
  .main .contact-us {
    background-color: #ededed;
    padding: 55px 0 0; }
    .main .contact-us .container {
      position: relative; }
      .main .contact-us .container .contact-head {
        flex-direction: column;
        align-items: center;
        max-width: 100%; }
        .main .contact-us .container .contact-head .upper-title {
          color: #008ed6;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
        .main .contact-us .container .contact-head .title {
          color: #1a1a1a;
          font-size: 36px;
          font-weight: 600;
          margin: 0 0 40px; }
        .main .contact-us .container .contact-head .section-underline {
          width: 42px;
          height: 2px;
          position: relative; }
          .main .contact-us .container .contact-head .section-underline::before {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: #008ed6; }
          .main .contact-us .container .contact-head .section-underline::after {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            right: 0;
            background-color: #008ed6; }
        .main .contact-us .container .contact-head .section-underline {
          margin-top: -5px; }
      .main .contact-us .container .contact-body {
        width: 100%; }
        .main .contact-us .container .contact-body .contact-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 60px; }
          .main .contact-us .container .contact-body .contact-block .block-image {
            width: 32px;
            height: 32px;
            margin-bottom: 25px; }
            .main .contact-us .container .contact-body .contact-block .block-image img {
              max-width: 32px;
              max-height: 32px; }
          .main .contact-us .container .contact-body .contact-block .block-desc p {
            color: #999999;
            font-size: 1.8em;
            font-weight: 400;
            line-height: 26px;
            text-align: center; }
      .main .contact-us .container .contact-form {
        width: 65%;
        margin: 0 auto;
        background-color: #15141a;
        padding: 70px 75px 40px 65px;
        position: relative;
        bottom: -55px;
        z-index: 2; }
        .main .contact-us .container .contact-form form {
          width: 100%; }
          .main .contact-us .container .contact-form form .form-top {
            margin: -10px 0; }
            .main .contact-us .container .contact-form form .form-top .form-left {
              flex-direction: column;
              align-items: center;
              width: 52%;
              height: 100%; }
              .main .contact-us .container .contact-form form .form-top .form-left .form-left-item {
                width: 100%;
                height: 100%;
                padding: 0 30px 30px 0; }
                .main .contact-us .container .contact-form form .form-top .form-left .form-left-item input {
                  width: 100%;
                  height: 100%;
                  border: 1px solid rgba(255, 255, 255, 0.2);
                  background: none;
                  color: #fff;
                  font-size: 1.4em;
                  border-radius: 5px;
                  padding: 15px 20px;
                  outline: none; }
                  .main .contact-us .container .contact-form form .form-top .form-left .form-left-item input::placeholder {
                    color: #fff;
                    opacity: 0.2;
                    font-weight: 700;
                    text-transform: uppercase; }
                .main .contact-us .container .contact-form form .form-top .form-left .form-left-item:last-child {
                  padding-bottom: 0; }
            .main .contact-us .container .contact-form form .form-top .form-right {
              width: 48%; }
              .main .contact-us .container .contact-form form .form-top .form-right textarea {
                width: 100%;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: none;
                color: #fff;
                font-size: 1.4em;
                border-radius: 5px;
                resize: none;
                padding: 15px 20px;
                outline: none; }
                .main .contact-us .container .contact-form form .form-top .form-right textarea::placeholder {
                  color: #fff;
                  opacity: 0.2;
                  font-weight: 700;
                  text-transform: uppercase; }
          .main .contact-us .container .contact-form form .form-bottom {
            justify-content: flex-end;
            margin-top: 25px; }
            .main .contact-us .container .contact-form form .form-bottom .form-submit {
              height: auto;
              background: none;
              padding: 15px 35px !important;
              border: 1px solid rgba(255, 255, 255, 0.2) !important; }
              .main .contact-us .container .contact-form form .form-bottom .form-submit {
                color: #fff;
                font-size: 1.4em;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                padding: 15px 28px;
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                transition: .3s; }
                .main .contact-us .container .contact-form form .form-bottom .form-submit:hover {
                  background-color: #008ed6;
                  border-color: #008ed6; }
  .main .google-map {
    width: 100%;
    height: 360px; }
    .main .google-map iframe {
      width: 100%;
      height: 100%; }

.footer {
  background-color: #15141a;
  padding: 50px 0;
  width: 100%; }
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .container .footer-top a {
      color: #fff;
      opacity: 0.2;
      font-size: 2em;
      margin: 0 15px;
      transition: .3s; }
      .footer .container .footer-top a:first-child {
        margin-left: 0; }
      .footer .container .footer-top a:last-child {
        margin-right: 0; }
      .footer .container .footer-top a:hover {
        color: #008ed6;
        opacity: 1; }
    .footer .container .footer-bottom {
      margin-top: 20px; }
      .footer .container .footer-bottom p {
        margin: 0;
        color: #444348;
        font-size: 1.4em;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center; }
