@import url(../css/reset.css);
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

.header {
  background: url("../../images/header_back.png") no-repeat;
  background-size: 100%;
  padding: 40px 0 0;
  height: 100%; }
  .header .top-section .main-navigation .nav-menu {
    justify-content: flex-end; }
    .header .top-section .main-navigation .nav-menu .nav-item {
      list-style: none;
      margin: 0 12px; }
      .header .top-section .main-navigation .nav-menu .nav-item:first-child {
        margin-left: 0; }
      .header .top-section .main-navigation .nav-menu .nav-item:last-child {
        margin-right: 0; }
      .header .top-section .main-navigation .nav-menu .nav-item a {
        color: #fffefe;
        font-size: 1.6em;
        font-weight: 600;
        text-decoration: none;
        position: relative; }
        .header .top-section .main-navigation .nav-menu .nav-item a::before, .header .top-section .main-navigation .nav-menu .nav-item a::after {
          content: '';
          opacity: 0;
          transition: .3s; }
        .header .top-section .main-navigation .nav-menu .nav-item a:hover::before {
          content: '';
          opacity: 1;
          width: 48%;
          height: 2px;
          position: absolute;
          background-color: #008ed6;
          bottom: -10px;
          left: 0; }
        .header .top-section .main-navigation .nav-menu .nav-item a:hover::after {
          content: '';
          opacity: 1;
          width: 48%;
          height: 2px;
          position: absolute;
          background-color: #008ed6;
          bottom: -10px;
          right: 0; }
  .header .bottom-section {
    justify-content: space-between; }
    .header .bottom-section .left-block {
      margin: 80px 0 105px; }
      .header .bottom-section .left-block .main-info .upper-title {
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 48px;
        text-transform: uppercase;
        margin: 0; }
      .header .bottom-section .left-block .main-info .title {
        color: #fff;
        font-size: 4.8em;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 50px; }
      .header .bottom-section .left-block .main-info .description {
        color: #999999;
        font-size: 1.8em;
        line-height: 25px; }
      .header .bottom-section .left-block .main-buttons {
        margin-top: 85px; }
        .header .bottom-section .left-block .main-buttons .download-btn, .header .bottom-section .left-block .main-buttons .view-btn {
          color: #fff;
          font-size: 1.4em;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 28px;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          transition: .3s; }
          .header .bottom-section .left-block .main-buttons .download-btn:hover, .header .bottom-section .left-block .main-buttons .view-btn:hover {
            background-color: #008ed6;
            border-color: rgba(255, 255, 255, 0.1); }
        .header .bottom-section .left-block .main-buttons .view-btn {
          margin-left: 15px; }
    .header .bottom-section .right-block {
      margin-top: 55px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .header .bottom-section .right-block img {
        width: 510px;
        height: 520px; }

.main {
  margin-top: 60px; }
  .main .features .features-head {
    flex-direction: column;
    align-items: center; }
    .main .features .features-head .upper-title {
      color: #008ed6;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.4px;
      text-transform: uppercase; }
    .main .features .features-head .title {
      color: #1a1a1a;
      font-size: 36px;
      font-weight: 600;
      line-height: 28px;
      margin: 0 0 40px; }
    .main .features .features-head .section-underline {
      width: 42px;
      height: 2px;
      position: relative; }
      .main .features .features-head .section-underline::before {
        content: '';
        position: absolute;
        width: 48%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: #008ed6; }
      .main .features .features-head .section-underline::after {
        content: '';
        position: absolute;
        width: 48%;
        height: 100%;
        bottom: 0;
        right: 0;
        background-color: #008ed6; }
  .main .features .features-body {
    margin: 75px 0 55px; }
    .main .features .features-body .feature-block {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap; }
      .main .features .features-body .feature-block .block-image {
        width: 88px;
        height: 88px; }
      .main .features .features-body .feature-block .block-title {
        margin-top: 30px;
        color: #1a1a1a;
        font-size: 2.4em;
        font-weight: 400; }
      .main .features .features-body .feature-block .block-desc {
        text-align: center;
        color: #999999;
        font-size: 1.8em;
        line-height: 26px; }
  .main .features::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ededed; }
  .main .about-us {
    height: 100%;
    padding: 70px 0 15px; }
    .main .about-us .left-block {
      padding-left: 20px; }
    .main .about-us .right-block {
      margin: 45px 0 0;
      padding-left: 15px; }
      .main .about-us .right-block .about-head {
        flex-direction: column;
        align-items: center; }
        .main .about-us .right-block .about-head .upper-title {
          color: #008ed6;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
        .main .about-us .right-block .about-head .title {
          color: #1a1a1a;
          font-size: 36px;
          font-weight: 600;
          line-height: 28px;
          margin: 0 0 40px; }
        .main .about-us .right-block .about-head .section-underline {
          width: 42px;
          height: 2px;
          position: relative; }
          .main .about-us .right-block .about-head .section-underline::before {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: #008ed6; }
          .main .about-us .right-block .about-head .section-underline::after {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            right: 0;
            background-color: #008ed6; }
        .main .about-us .right-block .about-head .section-underline {
          margin-top: -5px; }
      .main .about-us .right-block .about-body {
        margin-top: 25px; }
        .main .about-us .right-block .about-body .about-desc {
          font-size: 1.8em;
          color: #999999;
          line-height: 26px; }
        .main .about-us .right-block .about-body .about-menu {
          margin-top: 22px;
          padding-left: 25px; }
          .main .about-us .right-block .about-body .about-menu .about-item {
            list-style: none;
            color: #1a1a1a;
            font-weight: 400;
            font-size: 1.8em;
            line-height: 36px;
            position: relative; }
            .main .about-us .right-block .about-body .about-menu .about-item.item1::before {
              content: '';
              position: absolute;
              top: 30%;
              left: -25px;
              width: 16px;
              height: 16px;
              background: url("../../images/about-cup.png") no-repeat; }
            .main .about-us .right-block .about-body .about-menu .about-item.item2::before {
              content: '';
              position: absolute;
              top: 30%;
              left: -25px;
              width: 16px;
              height: 16px;
              background: url("../../images/about-mouse.png") no-repeat;
              background-position: center; }
            .main .about-us .right-block .about-body .about-menu .about-item.item3::before {
              content: '';
              position: absolute;
              top: 30%;
              left: -25px;
              width: 16px;
              height: 16px;
              background: url("../../images/about-energy.png") no-repeat;
              background-position: center; }
            .main .about-us .right-block .about-body .about-menu .about-item.item4::before {
              content: '';
              position: absolute;
              top: 30%;
              left: -25px;
              width: 16px;
              height: 16px;
              background: url("../../images/about-speed.png") no-repeat; }
  .main .testimonials {
    height: 100%;
    background-color: #f2f2f2;
    padding-top: 35px;
    padding-bottom: 20px; }
    .main .testimonials .left-block {
      height: 100%;
      margin: 95px 0 0; }
      .main .testimonials .left-block .testimonials-head {
        flex-direction: column;
        align-items: center; }
        .main .testimonials .left-block .testimonials-head .upper-title {
          color: #008ed6;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
        .main .testimonials .left-block .testimonials-head .title {
          color: #1a1a1a;
          font-size: 36px;
          font-weight: 600;
          line-height: 28px;
          margin: 0 0 40px; }
        .main .testimonials .left-block .testimonials-head .section-underline {
          width: 42px;
          height: 2px;
          position: relative; }
          .main .testimonials .left-block .testimonials-head .section-underline::before {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: #008ed6; }
          .main .testimonials .left-block .testimonials-head .section-underline::after {
            content: '';
            position: absolute;
            width: 48%;
            height: 100%;
            bottom: 0;
            right: 0;
            background-color: #008ed6; }
        .main .testimonials .left-block .testimonials-head .section-underline {
          margin-top: -10px; }
      .main .testimonials .left-block .testimontials-body {
        margin-top: 25px; }
        .main .testimonials .left-block .testimontials-body .testimonials-desc {
          font-size: 1.8em;
          color: #999999;
          line-height: 26px; }
    .main .testimonials .right-block {
      text-align: end;
      height: 100%; }
      .main .testimonials .right-block img {
        height: 100%; }
  .main .comments {
    background: url("../../images/slider_back.png") no-repeat;
    background-size: 100%;
    height: 100%;
    padding-top: 55px; }
    .main .comments .comments-head {
      flex-direction: column;
      align-items: center; }
      .main .comments .comments-head .upper-title {
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase; }
      .main .comments .comments-head .title {
        color: #1a1a1a;
        font-size: 36px;
        font-weight: 600;
        line-height: 28px;
        margin: 0 0 40px; }
      .main .comments .comments-head .section-underline {
        width: 42px;
        height: 2px;
        position: relative; }
        .main .comments .comments-head .section-underline::before {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          left: 0;
          background-color: #008ed6; }
        .main .comments .comments-head .section-underline::after {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          right: 0;
          background-color: #008ed6; }
      .main .comments .comments-head .title {
        color: #fff; }
      .main .comments .comments-head .section-underline {
        margin-top: -5px; }
    .main .comments .comments-body {
      padding-top: 85px; }
      .main .comments .comments-body .slider {
        padding-bottom: 25px; }
        .main .comments .comments-body .slider .slide {
          flex-direction: column; }
          .main .comments .comments-body .slider .slide .user-comment {
            color: #fff;
            font-size: 2.4em;
            font-weight: 400; }
          .main .comments .comments-body .slider .slide .user-info {
            align-items: center; }
            .main .comments .comments-body .slider .slide .user-info .user-icon {
              width: 59px;
              height: 59px; }
            .main .comments .comments-body .slider .slide .user-info .user-about {
              margin-left: 25px;
              flex-direction: column; }
              .main .comments .comments-body .slider .slide .user-info .user-about .user-name {
                color: #fff;
                font-size: 1.6em;
                font-weight: 400;
                margin: 0; }
              .main .comments .comments-body .slider .slide .user-info .user-about .user-company {
                color: #fff;
                font-size: 1.6em;
                font-weight: 700;
                margin: 0;
                text-transform: uppercase; }
        .main .comments .comments-body .slider .slick-dots {
          position: static;
          margin-top: 130px; }
          .main .comments .comments-body .slider .slick-dots li button::before {
            content: '';
            top: 6px;
            left: 6px;
            width: 8px;
            height: 8px;
            opacity: 1;
            line-height: normal;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 100%; }
          .main .comments .comments-body .slider .slick-dots li.slick-active button:before {
            top: 3px;
            left: 3px;
            border-color: #fff;
            background: #fff;
            width: 14px;
            height: 14px;
            opacity: 1; }
  .main .advert-board {
    background-color: #15141a;
    height: 100%;
    padding: 60px 0; }
    .main .advert-board .container {
      align-items: center; }
      .main .advert-board .container .advert-header .title {
        color: #fff;
        font-size: 3.6em;
        font-weight: 400; }
      .main .advert-board .container .advert-header .title-after {
        margin-left: 10px;
        color: #fff;
        font-weight: 300; }
      .main .advert-board .container .advert-buttons {
        text-align: end; }
        .main .advert-board .container .advert-buttons .advert-view, .main .advert-board .container .advert-buttons .advert-download {
          color: #fff;
          font-size: 1.4em;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 28px;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          transition: .3s; }
          .main .advert-board .container .advert-buttons .advert-view:hover, .main .advert-board .container .advert-buttons .advert-download:hover {
            background-color: #008ed6;
            border-color: rgba(255, 255, 255, 0.1); }
        .main .advert-board .container .advert-buttons .advert-download {
          margin-left: 15px; }
  .main .pricing {
    padding: 55px 0 60px; }
    .main .pricing .container .pricing-head {
      flex-direction: column;
      align-items: center; }
      .main .pricing .container .pricing-head .upper-title {
        color: #008ed6;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: uppercase; }
      .main .pricing .container .pricing-head .title {
        color: #1a1a1a;
        font-size: 36px;
        font-weight: 600;
        line-height: 28px;
        margin: 0 0 40px; }
      .main .pricing .container .pricing-head .section-underline {
        width: 42px;
        height: 2px;
        position: relative; }
        .main .pricing .container .pricing-head .section-underline::before {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          left: 0;
          background-color: #008ed6; }
        .main .pricing .container .pricing-head .section-underline::after {
          content: '';
          position: absolute;
          width: 48%;
          height: 100%;
          bottom: 0;
          right: 0;
          background-color: #008ed6; }
      .main .pricing .container .pricing-head .section-underline {
        margin-top: -5px; }
    .main .pricing .container .pricing-body {
      margin-top: 70px;
      justify-content: space-between; }
      .main .pricing .container .pricing-body .price-block {
        flex-direction: column;
        max-width: 270px; }
        .main .pricing .container .pricing-body .price-block .block-title {
          justify-content: center;
          border: 1px solid #e0e0e0;
          border-bottom: 0;
          padding: 25px 80px; }
          .main .pricing .container .pricing-body .price-block .block-title .title {
            font-size: 2.4em;
            color: #1a1a1a;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            transition: .3s; }
        .main .pricing .container .pricing-body .price-block .block-cost {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #e0e0e0;
          border-bottom: 0;
          padding: 15px 0 30px;
          transition: .3s; }
          .main .pricing .container .pricing-body .price-block .block-cost:hover {
            cursor: default; }
          .main .pricing .container .pricing-body .price-block .block-cost .cost {
            margin: 0;
            color: #1a1a1a;
            font-size: 6em;
            font-weight: 600;
            transition: .3s; }
            .main .pricing .container .pricing-body .price-block .block-cost .cost sup {
              font-size: 0.48em; }
            .main .pricing .container .pricing-body .price-block .block-cost .cost span {
              color: #999999;
              font-size: 0.33em;
              font-weight: 400; }
          .main .pricing .container .pricing-body .price-block .block-cost .cost-under {
            margin: -15px 0 0;
            color: #999999;
            font-size: 1.8em;
            font-weight: 400;
            transition: .3s; }
        .main .pricing .container .pricing-body .price-block .block-desc {
          justify-content: center;
          border: 1px solid #e0e0e0;
          padding: 50px 30px 40px; }
          .main .pricing .container .pricing-body .price-block .block-desc .description {
            color: #999999;
            font-size: 1.8em;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 55px;
            text-align: center; }
            .main .pricing .container .pricing-body .price-block .block-desc .description span {
              color: #008ed6; }
          .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button {
            color: #008ed6 !important;
            border: 1px solid #e0e0e0 !important;
            padding: 15px 40px !important; }
            .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button {
              color: #fff;
              font-size: 1.4em;
              font-weight: 700;
              text-transform: uppercase;
              text-decoration: none;
              padding: 15px 28px;
              border: 2px solid rgba(255, 255, 255, 0.1);
              border-radius: 5px;
              transition: .3s; }
              .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button:hover {
                background-color: #008ed6;
                border-color: rgba(255, 255, 255, 0.1); }
            .main .pricing .container .pricing-body .price-block .block-desc .desc-button .button:hover {
              color: #fff !important; }
        .main .pricing .container .pricing-body .price-block:hover .block-title .title {
          color: #008ed6; }
        .main .pricing .container .pricing-body .price-block:hover .block-cost {
          border-color: #008ed6;
          background-color: #008ed6; }
          .main .pricing .container .pricing-body .price-block:hover .block-cost .cost, .main .pricing .container .pricing-body .price-block:hover .block-cost .cost-under {
            color: #fff; }
